<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ToDo</title>
    <link href='http://fonts.googleapis.com/css?family=Yeseva+One&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='css/index.css' rel='stylesheet' type='text/css'>